:host {
  display: block;
  .long-term-goals-header-container {
    // REMOVE WHEN FINISHING LAYOUT STYLES
    //border: 1px solid black;
    background: #FFF;
    box-shadow: 0 18.932px 47.33px 0 rgba(0, 0, 0, 0.10);

    display: flex;
    justify-content: space-between;
    padding: 40px;
    
    .long-term-title{
      font-size: 69.42px;
      color: #4B5853;
      border-top: none;
      border-left: none;
      border-right: none;
    }

    .icon-button{
      background: none;
      border: none;
      cursor: pointer;
      
      .pencil{
        height: 50.42px;
        width: 50.42px;
      }
    }
    
  }
}
