:host {
  display: block;
  .quarterly-goals-modal-container {
    background-color: white;
    .header {
      display: flex;
      flex-direction: column;
      .nav-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .title {
          font-style: normal;
          font-weight: 300;
          font-size: 30px;
          margin-bottom: 10px;
          color: #4B5853;
        }
        .close-button {
          background: white;
          border: none;
          outline: none;
          width: 37px;
          height: 37px;
        }
      }
      .period {
        font-size: 25px;
        color: #4B5853;
        font-weight: bold;
      }
    }
    .six-stack {
      display: flex;
      margin: 37px 0px 0px 0px;
      .six-stack-icon {
        color: #2DBDB1;
      }
      .goal-text {
        margin: 0px 40px 0px 10px;
        .goal-text-input {
          width: 452px;
          height: 23px;
          border: none;
          border-bottom: 0.93px solid #4B5853;
          outline: none;
          background-color: transparent;
          color: #4B5853;
          font-size: 19.095px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
      .topic-options {
        width: 210px;
        border: none;
        border-bottom: 0.93px solid #4B5853;
        color: #4B5853;
        outline: none;
        font-size: 19.095px;
        font-weight: 300;
        &.apply-internships {
          color: #2DBDB1;
          border-bottom: 0.93px solid #4B5853;
        }

        &.class-algorithms{
          color: #FFB987;
;
          border-bottom: 0.93px solid #4B5853;
        }
        &.interview-technical {
          color: #EE8B72;
          border-bottom: 0.93px solid #4B5853;
        }
      }
    }
    .save-button-container {
      display: flex;
      justify-content: flex-end;
      background: white;
      padding: 12px 12px 60px 0px;

      .save-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2DBDB1;
        color: white;
        border: none;
        width: 140px;
        height: 42px;
        border-radius: 12px;
      }
    }
  }
}
